#tags-list {
  width: 100%;
  height: 100%;
}

#tags-list .table {
  border-radius: 9px;
}

#tags-list .buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 8px;
}

#tags-list .buttonContainer button:hover {
  border: solid 1px #CCFE00;
  color: #CCFE00;
}

#tags-list .table .icon {
  display: flex;
  top: 10%;
  left: 14px;
  position: absolute;
  font-size: 50px;
  transform: rotate(90deg);
  // color: #29292D;
  color: #29292D;
  font-weight: bold;
}

#tags-list .table .low {
  color: #e50000;
}

#tags-list .table .actionIcon {
  color: #29292D;
}


#tags-list .table .actionIcon:hover {
  color: #CCFE00;
}